.animation {
    animation: gradient 5s ease infinite;
    background: linear-gradient(135deg, #ffc700, #ff6e00, #f4009b, #8563af);
    background-size: 400% 400%;
}

.bounceUpDown {
    animation: bounceAnimateY 2.5s linear infinite;
}

.background-animation {
    transition: background 1s cubic-bezier(.18, .89, .32, 1.28);
}

.rotate-animation {
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes bounceAnimateY {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}