.insights-cards {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.insights-cards .insights-card-inner {
    width: 49.5%;
    height: 450px;
    will-change: transform, color, background;
    position: relative;
    z-index: 0;
    display: inline-block;
    border-radius: 1.5rem;
    padding: 3.5rem;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px #d5d4d4;
    background: linear-gradient(145deg, #d4d4d4, #ffffff, #c0c0c0, #f0f0f0, #d4d4d4);
    background-size: 200% 200%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(255, 255, 255, 0.5);
    animation: metallic-sheen 5s infinite;

}

.insights-cards .insights-card-inner .insights-card-front {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    animation: display 2s ease-in-out;
}

.insights-cards .insights-card-inner .insights-card-back {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    animation: display 2s ease-in-out;
}

.insights-card-inner:hover .insights-card-front {
    display: none;
}

.insights-card-inner:hover .insights-card-back {
    display: flex;
}

.insights-cards .insights-card-inner .insights-card-back .insights-card-text {
    font-weight: bolder;
    font-size: 96px;
    display: flex;
    justify-content: flex-start;
    transition: justify-content 2s;
}

.insights-cards .insights-card-inner .insights-card-back .insights-card-content {
    font-weight: bolder;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    transition: justify-content 2s;
}

.insights-cards .insights-c-2 {
    margin-top: 150px;
}

.insights-cards .insights-c-3 {
    margin-top: -150px;
}

.insights-c-1:hover {
    background: #c93204 !important;
}

.insights-c-2:hover {
    background: #cdd6d6 !important;
}

.insights-c-3:hover {
    background: #a1c9b9 !important;
}

.insights-c-4:hover {
    background: #c2b439 !important;
}