.team-title {
    position: relative;
}

.team-title .team-title-text {
    color: rgb(80, 80, 80);
    font-size: 7rem;
    padding-left: 100px;
    -webkit-text-stroke: 10px rgb(80, 80, 80);
}

.team-cards {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}


.metallic-card {
    width: 300px;
    height: 180px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.card-content {
    color: #333;
    text-align: center;
    z-index: 1;
}

.card-content h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.card-content p {
    margin: 10px 0 0;
    font-size: 1.2em;
    letter-spacing: 2px;
}


.team-cards .team-card-inner {
    width: 49.5%;
    height: 450px;
    will-change: transform, color, background;
    position: relative;
    z-index: 0;
    display: inline-block;
    border-radius: 1.5rem;
    padding: 3.5rem;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px #d5d4d4;
    background: linear-gradient(145deg, #d4d4d4, #ffffff, #c0c0c0, #f0f0f0, #d4d4d4);
    background-size: 200% 200%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(255, 255, 255, 0.5);
    animation: metallic-sheen 5s infinite;

}

.team-cards .team-card-inner .team-card-front {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    animation: display 2s ease-in-out;
}

.team-cards .team-card-inner .team-card-back {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    animation: display 2s ease-in-out;
}

.team-card-inner:hover .team-card-front {
    display: none;
}

.team-card-inner:hover .team-card-back {
    display: flex;
}

.team-cards .team-card-inner .team-card-back .team-card-text {
    font-weight: bolder;
    font-size: 96px;
    display: flex;
    justify-content: flex-start;
    transition: justify-content 2s;
}

.team-cards .team-card-inner .team-card-back .team-card-content {
    font-weight: bolder;
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    transition: justify-content 2s;
}

.team-cards .team-c-2 {
    margin-top: 150px;
}

.team-cards .team-c-3 {
    margin-top: -150px;
}

.team-c-1:hover {
    background: #c93204 !important;
}

.team-c-2:hover {
    background: #cdd6d6 !important;
}

.team-c-3:hover {
    background: #a1c9b9 !important;
}

.team-c-4:hover {
    background: #c2b439 !important;
}

.team-card-back:hover>.team-card-text {
    justify-content: flex-end;
}

.team-card-back:hover>.team-card-content {
    justify-content: flex-start;
}